<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="rpc.service" value="Machete.Rpc.Sample.Implement.dll" />
    <add key="rpc.server.port" value="12900" />
  </appSettings>
</configuration>